 body{
     font-family: georgia, "Times New Roman", Times, serif;
     margin: 20px;
 }
.dip{
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: 40%;
    gap: 1rem;
}
.container7{
    display: flex;
    justify-content: center;
    gap: 50px;

}
button{
    color: black;
    background-color: blue;
}
.row{
    width:200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row img{
    width:100%;
    display:block;
}
.star{
 display:inline-flex;
    color:gold;
}
