body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;



}
.lamon{
    width:50%;
    background-color:transparent;
    height:60%;
    border-radius:10px 10px 10px 10px;
    backdrop-filter: blur(6px);

}
h1{
    color:white;
    justify-content: center;
    text-align: center;
}
input{
    border:none;
    outline:none;
    width:100%;
    border-radius: 9px 9px 9px 9px;
}
input:focus {
    outline: none;
}
label{
    color:white;
}
button{
    border:none;
    outline:none;
    width:100%;
    border-radius: 9px 9px 9px 9px;
}
.till{
    color:white;
    font-size:20px;
    text-align:center;
}
a{
    color:white;
    text-decoration:none;
    background-color:deeppink;
    border-radius: 22px 22px 22px;
    margin: 3px 0;
    padding:6px;

}
