body{
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.terry{

}
input{
    border: none;
    outline: none;
    border: 2px goldenrod;
    border-radius: 10px 10px 10px 10px;
}
