<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vimo app</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/kim.css' %}">
</head>
<body>
{% if messages %}
{% for message in messages %}
    <li style="color:{% if message.tag == "completed" %}
        green{% else%}red{% endif %}">{{ message }}
    </li>

 {% endfor %}
{% endif %}

{% block content %}

{% endblock %}

</body>
</html>