<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <title>register</title>
    <style>
         body {
             background-image: url("{% static 'images/doi1.jpg' %}");
             background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
         }
         .tini{
             background-color: transparent;
             border: 2px solid gray;
             backdrop-filter: blur(5px);
         }
     </style>

</head>
<body>
<form method="POST" action="{% url 'register_user' %}">
    {% csrf_token %}
    <form action="">
     <div class="tini">
      <h1>register</h1>
         <div class="telex">
             <label for="username"></label>
             <input type="text" name="username" id="username" placeholder="Username" required>
             <i class='bx bx-user'></i>
             <br>
             <div class="telex">
                 <label for="password1"></label>
                 <input type="password" name="password1" id="password1" placeholder="Password1" required>
                 <i class='bx bxs-lock-alt'></i>
                 <br>
                 <div class="telex">
                     <label for="email"></label>
                     <input type="email" name="email" id="email" placeholder="Email" required>
                     <i class='bx bxs-envelope' ></i>
                     <br>
                     <div class="telex">
                         <label for="password2"></label>
                         <input type="password" name="password2" id="password2" placeholder="Password2" required>
                         <i class='bx bxs-lock-alt'></i>
                     </div>
                     <br>
                     <button type="submit" class="no">register</button>
                 </div>
             </div>
         </div>
     </div>


    </form>


</form>
</body>
</html>